---
import { Routes } from '../enums';
import BaseLayout from '../layouts/BaseLayout.astro';
import type { BaseLayoutProps } from '../layouts/BaseLayout.interface';

const baseLayoutValues: BaseLayoutProps = {
  current: Routes.ABOUT,
  title: 'About Me',
};
---

<BaseLayout {...baseLayoutValues}>
  <section><h1 class="text-4xl">About Me</h1></section>
</BaseLayout>
