<footer>
  <span>
    &copy; {new Date().getFullYear()} Camilo's Blog. Powered by <a
      href="https://astro.build"
      target="_blank"
      rel="noopener">Astro</a
    >.
  </span>
</footer>

<style>
  footer {
    @apply dark:text-white text-sm my-4 max-w-screen-2xl py-4 text-center;
  }
  a {
    @apply font-bold underline underline-offset-2;
  }
</style>
