<footer>
  <span>
    &copy; {new Date().getFullYear()} Camilo's Blog. Powered by <a
      href="https://astro.build"
      target="_blank"
      rel="noopener"
      class="font-bold underline decoration-blog_blue-light-200 decoration-2 underline-offset-[3px] dark:decoration-blog_blue-100"
    >
      Astro</a
    >.
  </span>
</footer>

<style>
  footer {
    @apply my-4 max-w-screen-2xl py-4 text-center text-sm dark:text-white;
  }
</style>
