---
import { Routes } from "../enums";
import ThemeToggleButton from "./ThemeToggleButton/ThemeToggleButton.svelte";

interface Props {
  current: Routes;
}
const { current = Routes.HOME } = Astro.props;
---

<style>
  nav {
    @apply flex items-center flex-1 font-bold justify-center xs:pr-12 sm:pr-0 xs:justify-end sm:justify-end uppercase font-sans;
  }

  a {
    @apply py-3 px-1.5 block relative xs:ml-5 xs:min-w-[4.5rem] text-center;
    @apply [&:not(.selected)]:opacity-70;
  }
</style>

<nav>
  <a class={current === Routes.HOME ? "selected" : ""} href={Routes.HOME}>
    home
  </a>
  <a class={current === Routes.ABOUT ? "selected" : ""} href={Routes.ABOUT}>
    about
  </a>
  <a class={current === Routes.BLOG ? "selected" : ""} href={Routes.BLOG}>
    blog
  </a>
  <!-- <div class="ml-8 w-16 xs:w-12 sm:pl-8"> -->
  <!-- <div class="ml-8 w-16 xs:w-12 xs:mx-auto sm:mx-0 sm:pl-8"> -->
  <div class="ml-8 sm:w-16 sm:mx-0 sm:pl-8">
    <ThemeToggleButton client:only />
  </div>
</nav>
