---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import type { BaseLayoutProps as Props } from "./BaseLayout.interface";
import { Routes } from "../enums";

const {
  current = Routes.HOME,
  title = "My Blog",
  description = "Camilo's Blog",
} = Astro.props;
---

<!-- TODO: Check what is the best approach --><!-- <html lang="en"> -->
<html lang="en" class="dark">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <title>{title}</title>
    <style>
      * {
        box-sizing: border-box;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
          Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
          sans-serif;
      }
      html {
        @apply w-screen h-screen;
      }
      body {
        @apply dark:bg-blog_blue-500 dark:text-white bg-white justify-center;
        /* @apply dark:bg-blog_blue-500 dark:text-white bg-white xs:flex justify-center; */
      }
      main {
        @apply relative my-0 mx-auto py-4 px-8 box-border w-full flex flex-col flex-1;
      }
    </style>
  </head>

  <body>
    <div class="flex justify-center">
      <div class="flex flex-col min-h-screen w-full sm:w-2/3">
        <Header current={current} />
        <main>
          <slot />
        </main>
        <Footer />
      </div>
    </div>
  </body>
</html>
